body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


img {
  width: 80%;
}

.msg {
  color: red;
}

label {
  display: block;
}

button {
  margin-top: 20px;
}

div {
  margin-top: 20px;
}